body {
    background-color: #fff2b6;
    justify-content: center;
    display: flex;
    vertical-align: middle;

}

.connect-div {
    position: relative;
    text-align: center;
    height: 300px;
    border: 10px;
    border-radius: 10px;
    max-width: 1000px;
    max-height: 300px;
    background-color: aqua;
}

.image-defaut {
    border-top: #000000;
    /*text-align: center;*/
    margin-top: -140px;
    background-color: #eee;
    /*justify-content: flex-start;*/
    border-radius: 50%;
    height: 100px;
    width: 100px;
    overflow: hidden;
    align-items: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.image-defaut img {
    width: 100%;
    height: auto;
    /*display:block;*/
    /*position: relative;*/
    text-align: center;
    margin-left: 50;
    margin-right: auto;
}

.connect {
    border-color: #ffffff;
    /*border: 10px;*/
    display: flexbox;
    justify-content: center;
    align-items: center;
    /*border-width: 10px;*/
    background-color: rgb(255, 255, 255);

    padding: 100px;
    margin: 50px;
    height: 20vh;
    border-radius: 20px;
}

.connection {
    top: 50%;
    right: 50%;
    padding: auto;
    padding-top: 90px;
    margin: auto;
    /*text-align: center;*/
    display: block;
}

.connection input {
    background-color: #ffffff;
    border-radius: 30px;
    border-style: ridge;
    height: 20px;
}


#btnConnexion {
    /*margin-left: auto;
    margin-right: auto;
    width: 50%;*/

    background-color: #ffffff;
    border-radius: 30px;
    position: static;
    padding: 10px;
    width: 200px;
    transition: all 0.3s ease-in;
}

#btnConnexion:hover {
    filter: invert(100%);
    border-color: #000000;
}